
style{
  color: #F9E08E;
}

.header {
  background-color: #2B6025;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 37px;
  width:100%;
  float: right;
  font-family: 'MingLiU_HKSCS-ExtB'
}

.header a {
  float: left;
  color: #DFAB2E;
  text-decoration: none;
  text-align:center;
  font-size: 17px;
  width: 25%;   
}


.header a:hover {
  color: #F9E08E;
}

.header a.active {
  color: #F9E08E;
}

body{
  background-color: #f9e08e;
}

.banner {
  width:100%;
  margin-top: 10px;
  height: 100;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Trine{
  width: 95%;
}

.velkommen{
  margin: 20px;
  margin-top: 510px;
  position: relative;
  text-align: center;
  font-family: 'perpetua';
  font-size: 18px;
  color: #B35F0C
}

.tekst{
  font-family: 'perpetua';
  font-size: 18px;
  color: #B35F0C;
  margin-top: 470px;
}

.kontaktboks{
  margin-top: 10px;
  background-color: #DFAB2E;
  width: 100%;
  display: flex;
  justify-content: center;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mig{
  width: 95%;
}

.ikonboks{
  margin-top: 110px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.li{
  width: 30%;
}

.tekst1{
  margin-top: 20px;
  width:100%;
  height: 40px;
  float: left;
  margin-bottom: 10px;
  font-family: 'perpetua';
  color: #B35F0C
}

.billedboks1{
  width: 100%;
  height: 200px;
  background-color: #DFAB2E;
  display: flex; 
  justify-content: center;
}
.projekt1{
  height: 100%;
}

.tekst2{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  font-family: 'perpetua';
  color: #B35F0C
}
.billedboks2{
  margin-top: 10px;
  width:100%;
  height: 200px;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
}

.tekst3{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  font-family: 'perpetua';
  color: #B35F0C
}
.billedboks3{
  margin-top: 10px;
  width:100%;
  height: 200px;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
}

.tekst4{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  font-family: 'perpetua';
  color: #B35F0C
}
.billedboks4{
  margin-top: 10px;
  width:100%;
  height: 200px;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
}

.tekst5{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  font-family: 'perpetua';
  color: #B35F0C
}
.billedboks5{
  margin-top: 10px;
  width:100%;
  height: 200px;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
}

.tekst6{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'perpetua';
  color: #B35F0C
}
.billedboks6{
  margin-top: 10px;
  width:100%;
  height: 200px;
  justify-content: center;
  background-color: #DFAB2E;
  display: flex; 
  justify-content: center;
}

.tekst7{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'perpetua';
  color: #B35F0C
}
.billedboks7{
  width: 500px;
	height: 500px;
	background: url('blomst-01.png') 0 0 no-repeat; 	 
	animation: play 5s steps(13) infinite;margin-top: 10px;
  justify-content: center;
  background-color: #DFAB2E;
  display: flex; 
}


@keyframes play {
	0%{background-position:0px;}
   100% { background-position: -6500px; }
}

.footer{
  display: flex;
  background-color: #2B6025;
  margin-top: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 70px;
  width:100%;
  float: right;
  font-family: 'MingLiU_HKSCS-ExtB'
}

.textfooter {
  margin-top: 15px;
  float: left;
  color: #DFAB2E;
  text-decoration: none;
  text-align:center;
  font-size: 17px;
  width: 100%;  
}

@media screen and (min-width:550px) {
  
  .header{
    padding-bottom: 22px;
  }

  .header a {
    padding-bottom: 40px;
    font-size: 30px;  
  }
  
  .banner {
    width: 400px;
    margin-left: 35%;
    margin-bottom: 100px;
  }
  
  .velkommen{
    font-size: 30px;
    margin: 100px;
  }
  

.tekst{
  font-size: 30px;
  margin-top: 550px;
  margin-left: 400px;
  margin-right: 400px;
}
  .kontaktboks{
    width: 400px;
    margin-left: 35%;
  }
  
  .li{
    width: 20%;
  }

  .tekst1{
    font-size: 30px;
  }
  
  .billedboks1{
    height: 400px;
    width: 40%;
  }

  .tekst2{
    font-size: 30px;
    display: flex;
    justify-content: right;
  }
  .billedboks2{
    height: 400px;
    width:40%;
    float: right;
  }
  
  .tekst3{
    font-size: 30px;
  }
  .billedboks3{
    height: 400px;
    width: 40%;
  }
  
  .tekst4{
    font-size: 30px;
    display: flex;
    justify-content: right;
  }
  .billedboks4{
    height: 400px;
    width:40%;
    float: right;
  }
  
  .tekst5{
    font-size: 30px;
  }
  .billedboks5{
    height: 400px;
    width: 40%;
  }
  
  .tekst6{
   font-size: 30px;
   display: flex;
    justify-content: right;
  }
  .billedboks6{
    height: 400px;
    width:40%;
    float: right;
  }

  .tekst7{
   font-size: 30px;
   }

   .billedboks7{
     height: 400px;
     width:40%;
     float: left;
   }

  .textfooter {
    font-size: 30px; 
  }
}