
style{
  color: #F9E08E;
}

.header {
  background-color: #2B6025;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 37px;
  width:100%;
  float: right;
  font-family: 'MingLiU_HKSCS-ExtB'
}

.header a {
  float: left;
  color: #DFAB2E;
  text-decoration: none;
  text-align:center;
  font-size: 17px;
  width: 25%;   
}


.header a:hover {
  color: #F9E08E;
}

.header a.active {
  color: #F9E08E;
}

body{
  background-color: #f9e08e;
}

.banner {
  width:100%;
  margin-top: 10px;
  height: 120px;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
}

.Trine{
  height: 100%;
}

.velkommen{
  margin: 20px;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  font-family: 'perpetua';
  font-size: 18px;
  color: #B35F0C
}

.tekst1{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 210px;
  margin-bottom: 10px;
  font-family: 'MingLiU_HKSCS-ExtB';
  color: #B35F0C
}

.billedboks1{
  margin-top: 200px;
  width: 100%;
  height: 200px;
  background-color: #DFAB2E;
  display: flex; 
  justify-content: center;
}
.projekt1{
  height: 100%;
}

.tekst2{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  font-family: 'MingLiU_HKSCS-ExtB';
  color: #B35F0C
}
.billedboks2{
  margin-top: 10px;
  width:100%;
  height: 200px;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
}

.tekst3{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  font-family: 'MingLiU_HKSCS-ExtB';
  color: #B35F0C
}
.billedboks3{
  margin-top: 10px;
  width:100%;
  height: 200px;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
}

.tekst4{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  font-family: 'MingLiU_HKSCS-ExtB';
  color: #B35F0C
}
.billedboks4{
  margin-top: 10px;
  width:100%;
  height: 200px;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
}

.tekst5{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  font-family: 'MingLiU_HKSCS-ExtB';
  color: #B35F0C
}
.billedboks5{
  margin-top: 10px;
  width:100%;
  height: 200px;
  float: left;
  background-color: #DFAB2E;
  display: flex;
  justify-content: center;
}

.tekst6{
  width:100%;
  height: 40px;
  float: left;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: 'MingLiU_HKSCS-ExtB';
  color: #B35F0C
}
.billedboks6{
  margin-top: 10px;
  width:100%;
  height: 200px;
  justify-content: center;
  background-color: #DFAB2E;
  display: flex; 
  justify-content: center;
}

.footer{
  display: flex;
  background-color: #2B6025;
  margin-top: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 70px;
  width:100%;
  float: right;
  font-family: 'MingLiU_HKSCS-ExtB'
}

.textfooter {
  margin-top: 15px;
  float: left;
  color: #DFAB2E;
  text-decoration: none;
  text-align:center;
  font-size: 17px;
  width: 100%;  
}

@media screen and (min-width:550px) {
  
  .header{
    padding-bottom: 22px;
  }

  .header a {
    padding-bottom: 40px;
    font-size: 30px;  
  }
  
  .banner {
    height: 400px;
  }
  
  .velkommen{
    margin-top: 450px;
    font-size: 30px;
  }
  
  .tekst1{
    font-size: 30px;
    margin-top: 300px;
  }
  
  .billedboks1{
    height: 400px;
    width: 40%;
  }

  .tekst2{
    font-size: 30px;
  }
  .billedboks2{
    height: 400px;
    width:40%;
  }
  
  .tekst3{
    font-size: 30px;
  }
  .billedboks3{
    height: 400px;
  }
  
  .tekst4{
    font-size: 30px;
  }
  .billedboks4{
    height: 400px;
  }
  
  .tekst5{
    font-size: 30px;
  }
  .billedboks5{
    height: 400px;
  }
  
  .tekst6{
   font-size: 30px;
  }
  .billedboks6{
    height: 400px;
  }

  .textfooter {
    font-size: 30px; 
  }
}